Prezado {{ receiver }},<br/>
<br/>
Oferta adicionada no site {{ site_name }}<br/>
<br/>
Link da oferta "{{ oferta }}":<br/>
<br/>
<a href="{{ protocol }}{{ domain }}/oferta/?id={{ oferta.id }}">{{ protocol }}{{ domain }}/oferta/?id={{ oferta.id }}</a><br/>
<br/>
Link para cancelar notificações de novas ofertas:<br/>
<br/>
<a href="{{ protocol }}{{ domain }}/oferta_notify/?uid={{ user.id }}&pid={{ produto.id }}&value=0">{{ protocol }}{{ domain }}/oferta_notify/?uid={{ user.id }}&pid={{ produto.id }}&value=0</a><br/>
<br/>
{% include "emails/signature.html" %}