{% extends "base.html" %}
{% block body_content %}
<!-- Dialog Change Password -->
<div id="id_dialog_change_password" data-role="dialog" data-close-btn="none" data-overlay-theme="a" style="text-align: center;">
    <div data-role="header" data-theme="c"><h1>Trocar Senha</h1></div>            
    <div data-role="content" data-theme="c">
    	{% if change_user %}
    	<div id="id_form_error8" class="form_error"></div>
    	<form id="id_form_user" action="{{ protocol }}{{ domain }}/change_password/" method="post">
    		{% csrf_token %}
    		<div style="display: none;"><input name="id" value="{{ change_user.id }}" type="hidden" /></div>            		
            <label for="id_user8">Usuário</label>
            <input name="user" id="id_user8" placeholder="Nome de usuário" value="{{ change_user.user }}" type="text" required="required" autocomplete="off" readonly="readonly" data-mini="true"/>
            <label for="id_name8">Nome completo</label>
            <input name="name" id="id_name8" placeholder="Nome completo" value="{{ change_user.name }}" type="text" required="required" autocomplete="off" readonly="readonly" data-mini="true"/>
            <label for="id_email8">E-mail</label>
            <input name="email" id="id_email8" placeholder="E-mail" value="{{ change_user.email }}" type="email" required="required" autocomplete="off" readonly="readonly" data-mini="true"/>
            <label for="id_password8">Senha</label>
            <input name="password" id="id_password8" placeholder="" value="" type="password" required="required" autocomplete="off" data-mini="true"/>
            <input name="submit" value="Alterar" type="submit" data-theme="b" data-mini="true"/>
		</form>    	
    	{% else %}
    	<h3>Link não corresponde a usuário ativo.</h3>
    	{% endif %}
		<p><a id="id_botao_go_home" href="{{ protocol }}{{ domain }}" data-role="button" data-mini="true" data-inline="true" rel="external" data-ajax="false" data-theme="e">Acesse Ofertas &quot;&quot;Qui&quot;&quot;</a></p>
    </div>
</div>
<!-- Dialog Info -->
<div id="id_dialog_info" data-role="dialog" data-close-btn="right" data-overlay-theme="a" style="text-align: center;">
    <div data-role="header" data-theme="c"><h1>{{ site_name }}</h1></div>            
    <div id="id_dialog_info_content" data-role="content" data-theme="c">
    </div>
</div>
{% endblock %}
