{% extends "base.html" %}
{% block body_content %}
<!-- Dialog Request Password -->
<div id="id_dialog_request_password" data-role="dialog" data-close-btn="right" data-overlay-theme="a" style="text-align: center;">
    <div data-role="header" data-theme="c"><h1>Nova Senha</h1></div>            
    <div data-role="content" data-theme="c">
    	<div id="id_form_error6" class="form_error"></div>
    	<form id="id_form_request_password" action="{{ protocol }}{{ domain }}/request_password/" method="post">
    		{% csrf_token %}
            <label for="id_email">E-mail</label>
            <input name="email" id="id_email" placeholder="E-mail" value="" type="email" required="required" autocomplete="off" data-mini="true"/>
            <input name="submit" value="Solicitar" type="submit" data-theme="b" data-mini="true"/>
		</form>
    </div>
</div>
{% endblock %}
