{% extends "base.html" %}
{% block body_content %}
<!-- Dialog Termo de Uso -->
<div id="id_dialog_termos_uso" data-role="dialog" data-close-btn="right" data-overlay-theme="a" style="text-align: left;">
	<div data-role="header" data-theme="c">
		<h1>Termos de Uso</h1>
	</div>
	<div data-role="content" data-theme="c" style="font-size: 14px;">
		<p align="justify">
			Por favor, leia atentamente as condições abaixo estipuladas para que você possa usufruir dos serviços do site <span style="color: red;">ofertasQui.com.br</span><br/>
			Lembre-se que ao utilizá-los você estará declarando ter ciência do presente termo, e concordando com todas as suas condições apresentadas neste.<br/>
			<span style="color: magenta; font-weight:bold;">Caso você não concorde com qualquer disposição do presente termo, por favor, não utilize e não se cadastre no site</span> <span style="color: red;">ofertasQui.com.br</span>
		</p>
		<p>
			1. Dos serviços
		</p>
		<p align="justify">
			O site <span style="color: red;">ofertasQui.com.br</span> oferece os serviços de busca, visualização e cadastro de produtos e ofertas, o objetivo do site <span style="color: red;">ofertasQui.com.br</span> é oferecer um serviço onde os usuários possam compartilhar ofertas de produtos da sua cidade. 
		</p>
		<p>
			2. Dos usuários
		</p>
		<p align="justify">
			Os serviços estão disponíveis somente a pessoas maiores de dezoito anos e que possuam capacidade civil de acordo com o estabelecido no código civil brasileiro.<br/>
			Os usuários devem obrigatoriamente serem consumidores reais que desejam compartilhar sua experiência relativa a ofertas de produtos da sua cidade. 
		</p>
		<p>
			3. Dos produtos e ofertas
		</p>
		<p align="justify">
			Todas as informações contidas nos produtos e ofertas do site <span style="color: red;">ofertasQui.com.br</span> são exclusivamente geradas por seus usuários cadastrados que expressamente tem ciência e concordam com o presente termo.<br/>
			O site <span style="color: red;">ofertasQui.com.br</span> não comercializa nenhum tipo de produto e não é responsável pelo preço ou disponibilidade de nenhumas das ofertas contidas em seu site.
		</p>
		<p>
			4. Das garantias e responsabilidades
		</p>
		<p align="justify">
			As informações contidas no site <span style="color: red;">ofertasQui.com.br</span> são prestadas sem qualquer garantia implícita ou explícita de qualquer tipo, sejam comerciais, particulares ou relativas a direitos de propriedade intelectual.<br/>
			As informações deste site podem conter imprecisões ou erros. As informações podem ser alteradas ou atualizadas a qualquer tempo, sem qualquer aviso.<br/>
			O site <span style="color: red;">ofertasQui.com.br</span> não se responsabiliza por danos e prejuízos de qualquer natureza, morais e materiais, inclusive lucros cessantes, que possam decorrer do uso dos serviços definidos nesse termo.<br/>
			O site <span style="color: red;">ofertasQui.com.br</span> não poderá garantir a disponibilidade e continuidade dos serviços definidos nesse termo por tempo indeterminado, eximindo-se de toda e qualquer responsabilidade pelos danos e prejuízos de qualquer natureza que possam decorrer da falta de disponibilidade e/ou de continuidade na oferta de tais serviços.
		</p>
		<p>
			5. Das alterações e mudanças
		</p>
		<p align="justify">
			O site <span style="color: red;">ofertasQui.com.br</span> reserva-se o direito de realizar, a qualquer momento e sem aviso prévio, mudanças e alterações em todos os serviços deste website, incluindo-se, mas não se limitando ao presente termo. Ao utilizar o site <span style="color: red;">ofertasQui.com.br</span> o usuário concorda com o presente termo, portanto, deve verificar o mesmo previamente cada vez que utilizar o site <span style="color: red;">ofertasQui.com.br</span>.
		</p>
		<p align="justify">
			Obrigado por utilizar o site <span style="color: red;">ofertasQui.com.br</span>
		</p>
	</div>
</div>    	
{% endblock %}
